

.entry{
  color: #f0d90a;
   font-family: 'Trocchi', serif; 
   font-size: 45px; 
   font-weight: normal; 
   line-height: 48px; 
   padding: 10px; 
   margin: 0 5px 24px;
  text-align:left;
}

input{
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin:10px;
}

button{
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px;
 
}
